<!--<div id="nvLinksAdmin" *ngIf="isShowing == 'admin'">-->
<!--  <link rel="stylesheet" href="/assets/faicons/css/all.css">-->

<!--  <link rel="stylesheet" href="/assets/faicons/css/all.css">-->
<!--  <link href="/assets/admindashboard/css/bootstrap.min.css" rel='stylesheet' type='text/css'/>-->

<!--  <link href="/assets/admindashboard/css/style.css" rel='stylesheet' type='text/css'/>-->
<!--  <link href="/assets/admindashboard/css/lines.css" rel='stylesheet' type='text/css'/>-->
<!--  <link href="/assets/admindashboard/css/font-awesome.css" rel="stylesheet">-->
<!--  <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>-->
<!--  <link href="/assets/admindashboard/css/custom.css" rel="stylesheet">-->

<!--  <script src="/assets/admindashboard/js/jquery.min.js"></script>-->

<!--  <script  src="/assets/admindashboard/js/popper.min.js"></script>-->
<!--  <script  src="/assets/admindashboard/js/bootstrap.min.js"></script>-->

<!--  <script src="/assets/admindashboard/js/metisMenu.min.js"></script>-->
<!--  <script src="/assets/admindashboard/js/custom.js"></script>-->

<!--  <script src="/assets/admindashboard/js/d3.v3.js"></script>-->
<!--  <script src="/assets/admindashboard/js/rickshaw.js"></script>-->




<!--</div>-->

<!--<div id="nvLinksStaff" *ngIf="isShowing == 'staff'">-->
<!--  &lt;!&ndash;staffPanel&ndash;&gt;-->

<!--  <link href="/assets/staffDashboard/css/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>-->
<!--  &lt;!&ndash;// bootstrap-css &ndash;&gt;-->
<!--  &lt;!&ndash; css &ndash;&gt;-->
<!--  <link rel="stylesheet" href="/assets/staffDashboard/css/style.css" type="text/css" media="all"/>-->
<!--  &lt;!&ndash;// css &ndash;&gt;-->

<!--  &lt;!&ndash; font-awesome icons &ndash;&gt;-->
<!--  <link href="/assets/staffDashboard/css/font-awesome.css" rel="stylesheet">-->
<!--  &lt;!&ndash; //font-awesome icons &ndash;&gt;-->
<!--  &lt;!&ndash; font &ndash;&gt;-->
<!--  <link href='//fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>-->
<!--  <link href='//fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700' rel='stylesheet' type='text/css'>-->
<!--  &lt;!&ndash; //font &ndash;&gt;-->

<!--  &lt;!&ndash; light-box &ndash;&gt;-->
<!--  <link rel="stylesheet" href="/assets/staffDashboard/css/lightbox.css">-->

<!--  <link rel="stylesheet" href="/assets/staffDashboard/css/owl.carousel.css" type="text/css" media="all">-->
<!--  <link href="/assets/staffDashboard/css/owl.theme.css" rel="stylesheet">-->

<!--  <script src="/assets/staffDashboard/js/jquery-1.11.1.min.js"></script>-->
<!--  <script src="/assets/staffDashboard/js/bootstrap.js"></script>-->
<!--  &lt;!&ndash;  <link rel="stylesheet" href="/assets/">&ndash;&gt;-->
<!--  &lt;!&ndash; light-box &ndash;&gt;-->
<!--  <script src="/assets/admindashboard/js/metisMenu.min.js"></script>-->
<!--  &lt;!&ndash; //light-box &ndash;&gt;-->
<!--  &lt;!&ndash;  <script src="/assets/staffDashboard/js/SmoothScroll.min.js"></script>&ndash;&gt;-->
<!--  &lt;!&ndash;search jQuery&ndash;&gt;-->
<!--  <script src="/assets/staffDashboard/js/main.js"></script>-->

<!--  &lt;!&ndash;&ndash;&gt;-->

<!--</div>-->

<router-outlet></router-outlet>
