

<div class="w3layouts-banner-top">

</div>
<!-- banner -->
<div class="banner about-banner">

  <app-staff-header></app-staff-header>

  <div class="w3-about-heading">
    <h2>Change Password</h2>
  </div>
</div>


<div class="gallery">
  <div class="container">
    <div class="agileinfo-gallery">
      <div class="row">
        <div class="col-md-12 offset-md-2">
          <form class="form-horizontal" #staffChangePasswordForm='ngForm'
                (ngSubmit)="staffChangePassword(newPassword.value)">


            <div class="form-group">

              <label for="currentPassword">Current Password</label>

              <input type="password" #currentPassword='ngModel' required="" ngModel="" name="currentPassword"
                     id="currentPassword"
                     class="form-control" (blur)="checkCurrentPassword(currentPassword.value)">


            <label class="text-danger"
                   *ngIf="(currentPassword.touched && currentPassword.errors && currentPassword.errors.required)">Enter
              current Password</label>
            <label class="text-danger" *ngIf="(!currentPasswordCheck)">Incorrect current Password</label>

            </div>
            <div class="form-group">

              <label for="newPassword">New Password</label>


              <input type="password" #newPassword='ngModel' required="" ngModel="" name="newPassword"
                     id="newPassword"
                     class="form-control" (blur)="matchPassword(newPassword,confirmPassword)">


            <label class="text-danger"
                   *ngIf="(newPassword.touched && newPassword.errors && newPassword.errors.required)">Enter
              new password</label>

            </div>
            <div class="form-group">

              <label for="confirmPassword">Confirm Password</label>

              <input type="password" #confirmPassword='ngModel' required="" ngModel="" name="confirmPassword"
                     id="confirmPassword"
                     class="form-control" (blur)="matchPassword(newPassword,confirmPassword)">

            <label class="text-danger"
                   *ngIf="(confirmPassword.touched && confirmPassword.errors && confirmPassword.errors.required)">Enter
              confirm password</label>
            <label class="text-danger" *ngIf="!passwordMatch">Password & Confirm password must be same</label>
            </div>



                    <div class="form-group">
                      <input type="submit" value="Change Password" class="btn btn-primary"
                             [disabled]="(!staffChangePasswordForm.valid || !passwordMatch || !currentPasswordCheck)">
                    </div>


          </form>
        </div>

      </div>
    </div>
  </div>
</div>
