body{
  background-color: white;
}

.my-background {
  height: 100vh;
  background-image: url("../../assets/images/1.png");
  background-repeat: no-repeat;
  /*background-size: cover;*/
  background-position: center;
}
